
.student-img-sm {
    width: 35px !important;
    height: 35px !important;
    border-radius: 50%;
    object-fit: cover;
}

.status-badge {
    padding: 0.35rem 0.65rem;
    border-radius: 50px;
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: capitalize;
}

.status-active {
    background-color: rgba(40, 167, 69, 0.1);
    color: var(--success-color);
}

.status-inactive {
    background-color: rgba(220, 53, 69, 0.1);
    color: var(--danger-color);
}